<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.androidproject">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidProject"
        >
        <activity
            android:name="com.project.westudentmain.activities.showUniversityAccount"
            android:exported="false" />
        <activity
            android:name="com.project.westudentmain.activities.createProject"
            android:exported="true" />
        <activity
            android:name="com.project.westudentmain.activities.createGroup"
            android:exported="true" />
        <activity
            android:name="com.project.westudentmain.activities.showProject"
            android:exported="true" />
        <activity
            android:name="com.project.westudentmain.activities.showGroup"
            android:exported="true" />
        <activity
            android:name="com.project.westudentmain.activities.showFriends"
            android:exported="true" />
        <activity
            android:name="com.project.westudentmain.activities.showChat"
            android:exported="true" />
        <activity
            android:name="com.project.westudentmain.activities.showSettings"
            android:exported="true" />
        <activity
            android:name="com.project.westudentmain.activities.showProfile"
            android:exported="false" />
        <activity
            android:name="com.project.westudentmain.activities.EditProfileActivity"
            android:exported="true" />
        <activity
            android:name="com.project.westudentmain.activities.Register"
            android:exported="true" />
        <activity
            android:name="com.project.westudentmain.activities.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>